*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Encode Sans Expanded',
  sans-serif;
}
.bg-myred{
  background-color: #111d33;
}
.myred1{
  margin-left: 134px;
}
.card{
  position: relative;
  display: flex;
  flex-direction: column;
  min-width: 0;
  word-wrap: break-word;
  background-color: #fff;
  background-clip: border-box;
  border: 1px solid rgba(0,0,0,.125);
  border-radius: 2.25rem;
  padding: 68px;
  margin-top: -91px;
  width: 80%;
  margin-left: 148px;
}
.card-box-content{
   margin-left: 36px;
    margin-top: -66px;
}